@page "/"
@inherits HydratingComponent
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code
{
    protected override void OnHydrating()
    {
        base.OnHydrating();
        Console.WriteLine("OnHydrating");
    }

    protected override void OnPreRendering()
    {
        base.OnPreRendering();
        Console.WriteLine("OnPreRendering");
    }
}
